/* 左边菜单 */
.menu_left .logo {
  display: block;
  background: #429ad9;
  width: 100%;
}
.menu_left .logo img {
  display: block;
  width: 100%;
}
.menu_left .menu {
  background: #ededed;
}
.menu_left .menu a {
  display: block;
  text-align: center;
  padding: 10px 10px;
  color: #81796c;
  font-size: 20px;
  text-decoration: none;
}
.menu_left .menu a:hover {
  background: #fff;
}
/* 中间内容部分 */
.al-content .al-content-img {
  display: table-row;
}
.al-content .al-content-img .big-img {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  text-decoration: none;
  background: #eeeeee;
  position: relative;
}
.al-content .al-content-img .big-img img {
  display: block;
  width: 100%;
}
.al-content .al-content-img .big-img > span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  font-size: 24px;
  color: white;
  background: #666;
}
.al-content .al-content-img .small-imgs {
  display: table-cell;
  width: 50%;
}
.al-content .al-content-img .small-imgs a {
  width: 50%;
  display: block;
  float: left;
  position: relative;
  border-left: 5px solid #fff;
}
.al-content .al-content-img .small-imgs a img {
  display: block;
  width: 100%;
}
.al-content .al-content-img .small-imgs a:nth-child(3) {
  clear: both;
}
.al-content .al-content-img .small-imgs a:nth-child(-n+2) {
  border-bottom: 5px solid #fff;
}
.al-content .al-content-img .small-imgs a p {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  font-size: 14px;
  padding: 0 5px;
}
.al-content .al-content-text {
  margin-top: 5px;
}
.al-content .al-content-text .items {
  border-top: 1px solid #000;
}
.al-content .al-content-text .items .text > a {
  color: #000;
}
.al-content .al-content-text .items .text > a > span {
  color: #ccc;
}
.al-content .al-content-text .items .my-img {
  padding: 30px;
}
.al-content .al-content-text .items .my-img img {
  display: block;
  width: 90%;
}
.chinese_wb {
  display: block;
}
.chinese_wb img {
  width: 100%;
}
.text-desc {
  border: 1px solid #000;
  margin-top: 30px;
  padding: 30px 10px 10px ;
  position: relative;
}
.text-desc h3 {
  font-size: 18px;
  color: #429ad9;
}
.text-desc span {
  position: absolute;
  top: 0;
  left: 20px;
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  color: white;
  background: #429ad9;
}
